.department__-list-component-header {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 100px;
    font-weight: 100;
    line-height: 1.2;
    color: #CCCCCC;
    text-align: center;
    margin: 0;
}

.department__list-warning-header {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 17px;
    font-weight: 100;
    line-height: 1.2;
    color: red;
    text-align: center;
    margin: 0;
}

.department__list-component {
    position: relative;
    width: 80%;
    max-width: 560px;
    min-width: 480px;
    margin: 0 auto 20px;
    border: 1px solid #E6E6E6;
    background-color: #FFF;
}

.list-item-add {
    height: 66px;

}

.list-item-add-input {
    font-size: 24px;
    height: 66px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #E6E6E6;
    padding-left: 20px;
}

.list-item-add-button {
    position: absolute;
    width: 20%;
    height: 66px;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 16px;
}

.list-item {
    position: relative;
    width: 100%;
    display: flex;
}

.list-item__input {
    width: 76%;
    height: 35px;
    border: 1px solid #E6E6E6;
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 16px;
}

.list-item__edit-save-button,
.list-item__delete-button{
    position: relative;
    width: 10%;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 16px;
}
