.login-page {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #f2f2f2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.menubar {
    display: flex;
    /*align-content: center;*/
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 5%;
    align-content: flex-end;
}

.login-page__registration-button {
    margin-left: 2%;
}

.login-page__registration-button {
    display: flex;
    border: none;
    justify-content: center;
    margin-right: 30px;
    font-family: Oxygen, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-transform: lowercase;
    font-feature-settings: "liga" off;
    color: #333333;
    background: inherit;
}

.signUpTop__link {
    text-decoration: none;
    color: inherit;
}

.login-page__window {
    height: 100%;
    margin-top: 12%;
}

.login-page-frame {
    border: 1px solid gray;
    display: flex;
    align-content: center;
    width: 420px;
    height: 480px;
    margin: 0 auto;
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.login-page__window-content {
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
}

.login-page__header {
    margin-top: 10%;
    margin-bottom: 15%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 40px;
    font-weight: 100;
    line-height: 1.2;
    color: #CCCCCC;
}

.login-page__login,
.login-page__pass {
    padding-left: 2%;
    margin: 2% 2% 2% 12%;
    width: 300px;
    height: 35px;
    background: #f9f9f9;
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    opacity: 0.5;
    font-size: 18px;
    line-height: 23px;
    text-transform: lowercase;
}

.login-page__login:focus,
.login-page__pass:focus {
    outline: none;
    border-color: #2f2f2f;
    transition: .3s;
}

.signIn {
    margin: 15% 2% 2% 40%;
    width: 85px;
    height: 35px;
    background: #f9f9fa;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border-width: 0;
    font-family: "Oxygen", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-transform: lowercase;
    color: #4f4f4f;
    outline: none;
}

.signIn:hover {
    background: #F2F2F2;
    transition: .1s;
}