.marks-page-person-name {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 40px;
    font-weight: 100;
    line-height: 1.2;
    color: #CCCCC0;
    text-align: center;
    margin: 0px;
}