
.menubar {
    display: flex;
    align-content: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}


.menubar-item {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-style: none;
    font-size: 18px;
    text-align: left;
    height: 40px;
    padding-top: 2px;
    outline: none;
}

.menubar-item:hover {
    background-color: #F2F2F2;
}

.menubar-item_selected {
    font-family: 'Open Sans', sans-serif;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-style: none;
    font-size: 18px;
    text-align: left;
    height: 40px;
    padding-top: 2px;
    border-bottom: 1px solid #0867d4;
}