.registration-page {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #f2f2f2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.menubar {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 5%;
    align-content: flex-end;
}

.registration-page__registration-button {
    margin-left: 2%;
}

.signUpTop {
    display: flex;
    border: none;
    justify-content: center;
    margin-right: 30px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-transform: lowercase;
    font-feature-settings: "liga" off;
    color: #333333;
    background: inherit;
}

.signUpTop__link {
    text-decoration: none;
    color: inherit;
}

.registration-page__window {
    height: 100%;
    margin-top: 12%;
}

.registration-page-frame {
    border: 1px solid gray;
    display: flex;
    align-content: center;
    width: 420px;
    height: 480px;
    margin: 0 auto;
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.registration-page__window-content {
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
}

.header {
    margin-top: 2%;
    margin-bottom: 4%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 40px;
    font-weight: 100;
    line-height: 1.2;
    color: #CCCCCC;
}

.registration-page-frame-cell,
.pass {
    padding-left: 2%;
    margin: 2% 2% 2% 12%;
    width: 300px;
    height: 30px;
    background: #f9f9f9;
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    opacity: 0.5;
    font-size: 18px;
    line-height: 23px;
    text-transform: lowercase;
}

.registration-page-frame-cell:focus,
.pass:focus {
    outline: none;
    border-color: #2f2f2f;
    transition: .3s;
}

.signUp {
    margin: 8% 2% 4% 30%;
    width: 150px;
    height: 35px;
    background: #f9f9fa;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border-width: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 23px;
    text-transform: lowercase;
    color: #4f4f4f;
    outline: none;
}

.signUp:hover {
    background: #F2F2F2;
    transition: .1s;
}

.registration-page-frame__toggle-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.registration-page-frame__toggle-container_option {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.2;
    color: gray;
    padding-right: 15px;
}

/*----Toggle----*/
.toggle-switch {
    align-self: center;
    text-align: left;
    margin-right: 15px;
    width: 30px;
    height: 16px;
    border-radius: 60px;
    background-color: #0867d4;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25);
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.toggle-switch > span {
    display: block;
    width: 100%;
    height: 100%;
}

.toggle-switch > input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.toggle-switch > span:before,
.toggle-switch > span:after {
    content: "";
    cursor: pointer;
    position: absolute;
}

.toggle-switch > span {
    border-radius: 60px;
}

.toggle-switch > span:before {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #FD5052; /* or #FFFFFF ?*/
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25);
    border-radius: 60px;
    transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
    transform: scale(1);
    opacity: 1;
}

.toggle-switch > span:after {
    top: 50%;
    z-index: 3;
    transition: transform .4s cubic-bezier(.44,-.12, .07, 1.15);
    width: 16px;
    height: 16px;
    transform: translate3d(0, -50%, 0);
    background-color: #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
    border-radius: 100%;
}

.toggle-switch > input[type="checkbox"]:checked ~ span:before {
    transform: scale(0);
    opacity: .7;
}

.toggle-switch > input[type="checkbox"]:checked ~ span:after {
    transform: translate3d(100%, -50%, 0);
}
/*----Toggle end----*/