.department__students-list-add {
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.department__students-list-add-button {
    border-radius: 50px;
}

.department__students-list {
    position: relative;
    width: 80%;
    max-width: 700px;
    min-width: 600px;
    margin: 0 auto 20px;
    border: 1px solid #E6E6E6;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
}

.student-list-item {
    font-size: 24px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    box-sizing: border-box;
    border: 1px solid #E6E6E6;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.student-list-item:hover {
    background-color: #E6E6E6;
    border: 1px solid #0867d4;
}

.student-list-item-link {
    font-size: 24px;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    box-sizing: border-box;
    border: 1px solid #E6E6E6;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
}

.student-list-item__number {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    width: 7%;
    padding-top: 12px;
    border-right: 1px solid #E6E6E6;
}

.student-list-item__info {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    width: 90%;
}

.student-list-item__info-group {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
    padding-left: 5%;
}

.student-list-item__info-fio {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    width: 100%;
    display: flex;
    padding-left: 5%;
}

.student-list-item__add-mark {
    position: relative;
    width: 18%;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
}

.student-list-item__edit {
    position: relative;
    width: 18%;
    background: transparent;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 12px;
}